// commons
$sectionPadding: 2rem;
$boxShadow: 0rem 0.25rem 1rem 0rem rgba(170, 170, 170, 0.2);
$gapColumns: 5rem;
$sizePagetitle: 3.25rem;
$sizeSubtitle: 2rem;
$containerPadding: 1.25rem;

// colors
$colorPrimary: #00AC07;
$colorTitle: #323232;
$colorText: #565656;
$colorTextSpecial: #047DD9;
$colorTextMuted: #A3A3A3;
$colorBg: #FFF;
$colorBgLight: #F3F3F3;
$colorBorder: #C8C8C8;